<div class="slackin-content">
    {% block invite_header %}
        <img src="{{ slackin.team.image }}">

        <h1>Join {{ slackin.team.name }} on Slack</h1>
        <p><strong>{{ slackin.users_online }}</strong> users online now of <strong>{{ slackin.users_total }}</strong> registered.</p>
    {% endblock invite_header %}

    {% if user.is_authenticated %}
        {% if slackin_invite_form_success %}
            {% block invite_success %}
                <p class="info">Invited {{ request.POST.email_address }}</p>
            {% endblock invite_success %}
        {% else %}
            {% block invite_form %}
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    <div>{{ slackin_invite_form.email_address }}</div>
                    {{ slackin_invite_form.email_address.errors }}
                    <button type="submit">Join</button>
                </form>
            {% endblock invite_form %}
        {% endif %}
    {% else %}
        {% block invite_logged_out %}
            <p class="info">Log in to join the discussion.</p>
        {% endblock invite_logged_out %}
    {% endif %}
</div>
