<style>
    body {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #333;
    }

    body * {
        box-sizing: border-box;
    }

    .slackin-content {
        max-width: 100%;
        margin-top: -50px;
        padding: 0 20px;
    }

    .slackin-content img {
        width: 66px;
        height: 66px;
        margin-bottom: 30px;
        border-radius: 50%;
    }

    .slackin-content h1 {
        margin: 0 0 8px 0;
        font-size: 16px;
    }

    .slackin-content p {
        margin: 0 0 20px 0;
    }

    .slackin-content form {
        width: 270px;
        max-width: 100%;
    }

    .slackin-content input {
        width: 100%;
        padding: 0 8px;
        height: 30px;
        margin-bottom: 8px;
        border: 1px solid #aaa;
        font-size: 14px;
        outline: none;
        transition: border-color 100ms linear;
    }

    .slackin-content input:focus,
    .slackin-content input:hover {
        border: 1px solid #333;
    }

    .slackin-content button {
        width: 100%;
        padding: 8px 0;
        border: 1px solid #03A9F4;
        background: #03A9F4;
        color: white;
        font-size: 14px;
        outline: none;
        opacity: 1;
        cursor: pointer;
        transition: background-color 100ms linear;
    }

    .slackin-content button:focus,
    .slackin-content button:hover {
        background-color: #0398DB;
    }

    .slackin-content .info {
        color: #999;
    }

    .slackin-content .errorlist {
        list-style: none;
        margin: 0 0 16px 0;
        padding: 0;
        color: #E91E63;
        font-size: 12px;
    }
</style>
